name: celeiro

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}_backend
    ports:
      - "${BACKEND_EXTERNAL_PORT}:${BACKEND_PORT}"
    environment:
      - DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres:5432/${DATABASE_NAME}?sslmode=disable
      - DATABASE_NAME=${DATABASE_NAME}
      - PG_CONN_STR=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@postgres:5432/${DATABASE_NAME}?sslmode=disable
      - PG_MAX_IDLE=${PG_MAX_IDLE}
      - PG_MAX_CONN=${PG_MAX_CONN}
      - PG_DB_NAME=${DATABASE_NAME}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=${BACKEND_PORT}
      - MAILER_TYPE=${MAILER_TYPE}
    volumes:
      - ./localmailer:/root/localmailer
    depends_on:
      - postgres
      - redis
    networks:
      - custom_network
    restart: unless-stopped

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: ${PROJECT_NAME}_frontend
    ports:
      - "${FRONTEND_EXTERNAL_PORT}:${FRONTEND_PORT}"
    depends_on:
      - backend
    networks:
      - custom_network
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: ${PROJECT_NAME}_postgres
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_SSLMODE: ${DATABASE_SSLMODE}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - custom_network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: ${PROJECT_NAME}_redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./redis_data:/data
    networks:
      - custom_network
    restart: unless-stopped
    command: redis-server --appendonly yes

  loki:
    image: grafana/loki:latest
    container_name: ${PROJECT_NAME}_loki
    command: [ "-config.file=/etc/loki/config.yml" ]
    ports:
      - "${LOKI_HTTP_PORT:-3100}:3100"
    environment:
      - LOKI_HTTP_PORT=${LOKI_HTTP_PORT}
    volumes:
      - ${CONFIG_ROOT}/loki:/etc/loki
      - ${CONFIG_ROOT}/loki:/data
    networks:
      - custom_network
    restart: unless-stopped

  otelcol:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: ${PROJECT_NAME}_collector
    command: [ "--config=/etc/otelcol-contrib/config.yml" ]
    ports:
      - "${OTEL_COLLECTOR_GRPC_PORT:-14317}:4317"
      - "${OTEL_COLLECTOR_HTTP_PORT:-14318}:4318"
      - "${OTEL_METRICS_PORT:-18888}:8888"  # Metrics endpoint for OTel Collector
    environment:
      # - HOST_ROOT=/hostfs
      # - HOST_NAME=manager
      # - POSTGRES_DB=${POSTGRES_DB:-vodsafe}
      # - POSTGRES_USER=${POSTGRES_USER:-vodsafe}
      # - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-vodsafe}
      - LOKI_HTTP_PORT=${LOKI_HTTP_PORT:-3100}
      # - TEMPO_HTTP_PORT=${TEMPO_HTTP_PORT:-3200}
      # - TEMPO_OTLP_HTTP_PORT=${TEMPO_OTLP_HTTP_PORT:-4418}
      # - PROMETHEUS_PORT=${PROMETHEUS_PORT:-4444}
      - OTEL_COLLECTOR_GRPC_PORT=${OTEL_COLLECTOR_GRPC_PORT:-4317}
      - OTEL_COLLECTOR_HTTP_PORT=${OTEL_COLLECTOR_HTTP_PORT:-4318}
    depends_on:
      - loki
      # - tempo
      # - prometheus
      # - database
      # - manager
    volumes:
      - ${CONFIG_ROOT}/postgres-data/log:/var/lib/postgresql/data/log
      # - /proc:/hostfs/proc:ro
      # - /sys:/hostfs/sys:ro
      # - /mnt:/hostfs/mnt:ro
      - ${CONFIG_ROOT}/otelcol:/etc/otelcol-contrib/
    networks:
      - custom_network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: ${PROJECT_NAME}_grafana
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=${GF_USERS_ALLOW_SIGN_UP}
    depends_on:
      - otelcol
      - loki
    volumes:
      - grafana_data:/var/lib/grafana
      - ${CONFIG_ROOT}/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - custom_network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT}/postgres-data/
  redis_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT}/redis-data/
  grafana_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${CONFIG_ROOT}/grafana/data/

networks:
  custom_network:
    name: ${PROJECT_NAME}_network
    driver: bridge
