apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      timeout: 60s
      # Automatically configure Loki as the default log data source 